<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create/user" method="POST">
        <label for="username">Nome de Usuario</label><input id="username" name="username" type="text" placeholder="Username" style="text-align: center;">
        <label for="email">E-mail</label><input id="email" name="email" type="email" placeholder="E-mail" style="text-align: center;">
        <label for="password">Senha</label><input id="password" name="password" type="password" placeholder="Password" style="text-align: center;">
        <input type="submit">
    </form>
    <button onclick="window.location.href = 'http://localhost:3434/';">Voltar</button>
</body>
</html>