<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Encurtador de URL</title>
</head>

<body>
    <div id="home" style="margin: 100px auto; width: 480px;">
        <div style="margin: 10px auto;">
            <a id="anonymous" href="/user/anonymous">Enter Anonymous</a>
            <a id="createUser" href="/create/user" style="margin-left: 15px;">Create User</a>
            <a id="login" href="/login/user" style="margin-left: 15px;">Login</a>
        </div>
    </div>
</body>

</html>